/* header | START */

#main-header .container .navbar h1 {
  float: none;
  text-align: center;
  padding-bottom: 30px;
}

#main-header .container .navbar ul,
#main-header .container .navbar ul li {
  float: none;
  text-align: center;
  border-bottom: 1px solid rgba(236, 99, 179, 0.13);
}

#main-header .container .navbar ul li a {
  display: block;
  padding: 10px 0px;
}

#main-header .container .navbar ul li a i.fa-magnifying-glass {
  display: none;
}
#main-header .container .about {
  padding-top: calc(100vh / 4);
}
#main-header .container h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 3rem;
  font-weight: 200;
}

#main-header .container p {
  font-size: 1.2rem;
  color: rgba(214, 213, 213, 0.548);
}

/* header | END */

/* section-1 | START */
#info .container .box {
  display: block;
  text-align: center;
  width: 50vw;
  margin: 5vh auto;
  padding: 15vw 5vw;
  border: 1px solid rgba(121, 121, 121, 0.281);
  border-radius: 100%;
}

#info .container h2 {
  font-size: 1.8rem;
}
#info .container p {
  font-size: 1rem;
}
#info .container i {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}
/* section-1 | END */

/* section-2 | START */
#shows .container h2,
#reviews .container h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  padding-bottom: 0;
}

#shows .container .show-article {
  float: none;
  width: 75%;
  margin: 3rem auto;
}

#shows .container .show-article img {
  width: 100%;
}

/* section-2 | END */

/* section-3 | START */

#reviews .container .review-box{
    float: none;
    width: 75%;
    margin: 2rem auto;
}

/* section-3 | END */


/* footer | START */
#footer p{
    font-size: 0.8em;
}

/* footer | END */