* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* SCORLLBAR | START */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a0b1a;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #181b3d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(223, 81, 164);
}
/* SCORLLBAR | END */

/* Utilities | START */

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
}
.bg-color {
  background-color: #0a0b1a;
}

/* Utilities | END */

/* clear float | START */

.clear {
  clear: both;
}

/* clear float | END */

/* HEADER | START */

#main-header {
  background: url(../img/bg.png) no-repeat center center/cover;
  height: 700px;
  width: 100%;
}

#main-header .container .navbar h1 {
  float: left;
  padding-top: 30px;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: bold;
}

#main-header .container .navbar ul {
  list-style: none;
  float: right;
  overflow: auto;
}

#main-header .container .navbar ul li {
  float: left;
  overflow: auto;
}

#main-header .container .navbar ul li a {
  display: block;
  padding: 30px 15px;
}

#main-header .container .navbar ul li a:hover,
.fa-lock:hover {
  color: rgb(236, 99, 179);
}

#main-header .container .about {
  padding-top: 20%;
}
#main-header .container h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 80px;
  font-weight: 200;
}

#main-header .container p {
  font-size: 25px;
  color: rgb(214, 213, 213);
}
/* HEADER | END */

/* SECTION-1 | START */

#info {
  height: 400px;
  overflow: auto;
}

#info .container .box {
  float: left;
  text-align: center;
  width: 20%;
  height: 240px;
  padding: 60px;
  margin: 70px 25px;
  border: 1px solid rgba(121, 121, 121, 0.281);
  border-radius: 100%;
}

.box-color {
  border-right: 2px solid rgb(238, 81, 173) !important;
  border-bottom: 2px solid rgb(238, 81, 173) !important;
}
#info .container h2,
#info .container p {
  padding-top: 10px;
}
.fa-heart {
  color: #252d86;
}
/* SECTION-1 | END */

/* section-2 | START */

#shows {
  height: 550px;
}



#shows .container h2 {
  float: left;
  text-transform: capitalize;
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  
}

#shows .container a.view-all {
  float: right;
  text-transform: capitalize;
  font-weight: bold;
  color: goldenrod;
  padding-bottom: 50px;
}

#shows .container .show-article {
  float: left;
  width: 22.8%;
  margin: 0 10px;
  border-right: 10px solid #252d86;
  border-top: 10px solid #252d86;
  border-radius: 8px;
}

#shows .container .show-article img {
  width: 240px;
  height: 250px;
  border-radius: 8px 8px 0 0;
}

#shows .container .show-article p {
  float: left;
  color: #0a0b1a;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
  margin: 20px 20px 0px 20px;
  background-color: goldenrod;
}
#shows .container .show-article h3 {
  padding: 10px 0 20px 20px;
  text-transform: capitalize;
  font-family: "Libre Baskerville", serif;
  font-weight: 200;
}

#shows .container .show-article a {
  color: #3443ee;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
}
#shows .container .show-article .fa-arrow-right-long {
  padding: 15px 10px;
  color: #3443ee;
}
#shows .container .show-article .fa-bookmark {
  float: right;
  padding: 20px 20px 20px 0;
  color: rgb(238, 81, 173);
}

/* section-2 | END */
